<div class="contenedor margensupe">

  <div>
    <ion-card *ngFor="let corr of correccion; let i = index" >
      <ion-card-header>
        <ion-card-title>{{corr.pregunta}}</ion-card-title>
        
      </ion-card-header>
    
      <ion-card-content>
        <strong style="font-size: 1.2em;">{{corr.respuesta}}</strong>
        <ion-card-subtitle *ngIf="corr.correcta == respuesta[i].respuesta" style="color: rgb(51, 253, 78) ;">{{correc}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="corr.correcta != respuesta[i].respuesta" style="color: rgb(182, 7, 7);">{{incorr}}</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-content >
    <ion-fab vertical="top" horizontal="end" slot="fixed" style="padding-bottom: 5%;">
      <ion-fab-button color="dark" (click)="Nota()">
        <ion-icon name="document-text"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  
</div>

