<div class="contenedor">

  <form #forma="ngForm">
    <ion-card>
      <ion-item style="padding-top: 10px;">
        <p>
        El  <input type="text" class="cuadrotext" required name="pre1" [ngModel]="respu1" disabled="disabled">  contiene aceites que son estupendos para hidratar la piel y el 
        <input type="text" class="cuadrotext" required name="pre2" [ngModel]="respu2" disabled="disabled">
        </p>
      </ion-item>
      <div>
      <ion-card-subtitle *ngIf=" correcto1 " style="color: rgb(51, 253, 78);">{{correc}}</ion-card-subtitle>
      <ion-card-subtitle *ngIf=" !correcto1 " style="color: rgb(182, 7, 7);">{{incorr}}</ion-card-subtitle>
      </div>
    </ion-card>
  
    <ion-card>
      <ion-item style="padding-top: 10px;">
        <p>
          el aguacate tiene forma de <input disabled="disabled" type="text" class="cuadrotext" required name="pre3" [ngModel]="respu3">  una pulpa carnosa que puede ser verde o 
          <input type="text" class="cuadrotext" required name="pre4" [ngModel]="respu4" disabled="disabled"> 
        </p>
      </ion-item>
      <div>
        <ion-card-subtitle *ngIf=" correcto2 " style="color: rgb(51, 253, 78);">{{correc}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf=" !correcto2 " style="color: rgb(182, 7, 7);">{{incorr}}</ion-card-subtitle>
      </div>
    </ion-card>

    <ion-card>
      <ion-item style="padding-top: 10px;">
        <p>
          La palabra aguacate viene de la palabra indigena “náhuatl”, que significa   <input disabled="disabled" type="text" style=" width: 150px" class="cuadrotext"required name="pre5" [ngModel]="respu5">
        </p>
      </ion-item>
      <div>
        <ion-card-subtitle *ngIf=" correcto3 " style="color: rgb(51, 253, 78);">{{correc}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf=" !correcto3 " style="color: rgb(182, 7, 7);">{{incorr}}</ion-card-subtitle>
      </div>
    </ion-card>
  
    <ion-card>
      <ion-item style="padding-top: 10px;">
        <p>
          El país donde se originó el aguacate sigue siendo el mayor productor de este fruto, ¿sabes cuál es?  <input disabled="disabled" type="text" class="cuadrotext" required name="pre6" [ngModel]="respu6">
        </p>
      </ion-item>
      <div>
        <ion-card-subtitle *ngIf=" correcto4 " style="color: rgb(51, 253, 78);">{{correc}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf=" !correcto4 " style="color: rgb(182, 7, 7);">{{incorr}}</ion-card-subtitle>
      </div>
    </ion-card>
    
    <ion-card>
      <ion-item style="padding-top: 10px;">
        <p>
          En nuestro cuerpo, el aguacate por su alto contenido en grasas monoinsaturadas contribuye a mejor el funcionamiento del sistema.  <input disabled="disabled" type="text" class="cuadrotext" required name="pre7" [ngModel]="respu7">  mas palabras
        </p>
      </ion-item>
      <div>
        <ion-card-subtitle *ngIf=" correcto5 " style="color: rgb(51, 253, 78);">{{correc}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf=" !correcto5 " style="color: rgb(182, 7, 7);">{{incorr}}</ion-card-subtitle>
      </div>
    </ion-card>

    <ion-card>
      <ion-item style="padding-top: 10px;">
        <p>
          Además de aguacate, cebolla, cilantro, jugo de limón, que otro ingrediente lleva el guacamole  <input disabled="disabled" type="text" class="cuadrotext" required name="pre8" [ngModel]="respu8"> 
        </p>
      </ion-item>
      <div>
        <ion-card-subtitle *ngIf=" correcto6 " style="color: rgb(51, 253, 78);">{{correc}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf=" !correcto6 " style="color: rgb(182, 7, 7);">{{incorr}}</ion-card-subtitle>
      </div>
    </ion-card>

    <ion-content >
      <ion-fab vertical="top" horizontal="end" slot="fixed" style="padding-bottom: 5%;">
        <ion-fab-button color="dark" (click)="Nota()" >
          <ion-icon name="document-text"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>

    </form>

</div>

