<div class="contenedor">
  <h2>{{titulo}}</h2>
  <p>{{contenido1}}</p>
  <p>{{contenido2}}</p>
  <p>{{contenido3}}</p>
  <p>{{contenido4}}</p>
  <p>{{contenido5}}</p>
  <p>{{contenido6}}</p>
  <p>{{contenido7}}</p>
  <p>{{contenido8}}</p>
  <p>{{contenido10}}</p>
  <p>{{contenido11}}</p>
  <p>{{contenido12}}</p>

  <ion-content >
    <ion-fab vertical="top" horizontal="end" slot="fixed" style="padding-bottom: 5%;">
      <ion-fab-button color="dark" (click)="iniexam()">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

</div>

