<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">examen</ion-title>
    <ion-img src = "assets/images/CVUDES.png" class="pequeña" slot = end alt="Logo colegio"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-eva1 *ngIf="un1"></app-eva1>
  <app-eva2 *ngIf="un2"></app-eva2>
  <app-eva3 *ngIf="un3"></app-eva3>
  <app-eva4 *ngIf="un4"></app-eva4>
  
</ion-content>
