<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">{{ folder }}</ion-title>
    <ion-img src = "assets/images/CVUDES.png" class="pequeña" slot = end alt="Logo colegio"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-inicio *ngIf="ini"></app-inicio> 

  <app-introduccion *ngIf="int"></app-introduccion>

  <app-objetivos *ngIf="obj"></app-objetivos>

  <app-und1 *ngIf="un1"></app-und1>
  <app-und2 *ngIf="un2"></app-und2>
  <app-und3 *ngIf="un3"></app-und3>
  <app-und4 *ngIf="un4"></app-und4>

</ion-content>



