<div class="contenedor">

  <h2><strong>Haz clic en verdadero o falso.</strong></h2>

  <div style="margin-top: 5%;" *ngFor="let cues of preguntas; let i = index">
    <table BORDER=3  bordercolor="169, 197, 255 " (ionChange)="resultado($event, cues.id, i)">

      <tr>
    
        <th scope="row"  WIDTH="100%">{{cues.Titulo}}</th>
    
        <th>V</th>
    
        <th>F</th>
    
      </tr>
    
      <tr>
    
        <th align="left" WIDTH="100%">{{cues.pregunta1}}</th>
    
        <td >
          <ion-checkbox slot="end" color="dark"
          value="pre1v" [(ngModel)] = "control[i].control1v"
          ></ion-checkbox>
        </td>
    
        <td><ion-checkbox slot="end" color="dark"
          value="pre1f" [(ngModel)] = "control[i].control1f"
          ></ion-checkbox></td>
    
      </tr>
    
      <tr>
    
        <th align="left" WIDTH="100%">{{cues.pregunta2}}</th>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre2v" [(ngModel)] = "control[i].control2v"
          ></ion-checkbox>
        </td>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre2f" [(ngModel)] = "control[i].control2f"
          ></ion-checkbox>
        </td>
    
      </tr>
    
      <tr>
    
        <th align="left" WIDTH="100%">{{cues.pregunta3}}</th>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre3v" [(ngModel)] = "control[i].control3v"
          ></ion-checkbox>
        </td>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre3f" [(ngModel)] = "control[i].control3f"
          ></ion-checkbox>
        </td>
    
      </tr>

      <tr>
    
        <th align="left" WIDTH="100%">{{cues.pregunta4}}</th>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre4v" [(ngModel)] = "control[i].control4v"
          ></ion-checkbox>
        </td>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre4f" [(ngModel)] = "control[i].control4f"
          ></ion-checkbox>
        </td>
    
      </tr>
    
    </table>
  </div>

  <ion-content >
    <ion-fab vertical="top" horizontal="end" slot="fixed" style="padding-bottom: 5%;">
      <ion-fab-button color="dark" (click)="guardar()">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

</div>

