.centrar{
    //margin:0 , auto, 0, auto;
   //margin: auto, 0, auto, 0;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    overflow: hidden;
    border-radius: 50% !important;
    overflow: hidden;
}

