<div class="contenedor" >

  <form  #forma="ngForm">
    <ion-list class="margensupe" *ngFor="let preguntas of cuestionario" >
      <ion-list-header>
          <ion-label style="font-size: 1.2em;" >
            {{preguntas.cuerpo}}
          </ion-label>
      </ion-list-header>
  
      <ion-item-group  (ionChange)="resultado($event, preguntas.id)" >
  
        <ion-item>
          <ion-img [src]="preguntas.pregunta1" class="imapre" ></ion-img>
          <ion-checkbox slot="end" color="dark"
          value="pre1"
          ></ion-checkbox>
        </ion-item>
  
        <ion-item >
          <ion-img [src]="preguntas.pregunta2" class="imapre"></ion-img>
          <ion-checkbox slot="end" color="dark"
          value="pre2"
          ></ion-checkbox>
        </ion-item>
  
        <ion-item >
          <ion-img [src]="preguntas.pregunta3" class="imapre"></ion-img>
          <ion-checkbox slot="end" color="dark"
          value="pre3"
          ></ion-checkbox>
        </ion-item>
  
        <ion-item >
          <ion-img [src]="preguntas.pregunta4" class="imapre"></ion-img>
          <ion-checkbox slot="end" color="dark"
          value="pre4"
          ></ion-checkbox>
        </ion-item>
  
      </ion-item-group>
      
    </ion-list>

    <ion-content >
      <ion-fab vertical="top" horizontal="end" slot="fixed" style="padding-bottom: 5%;">
        <ion-fab-button color="dark" (click)="guardar()">
          <ion-icon name="pencil"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  
    
  </form>
  
</div>
