<div>

<form>
<div class="contenedor margensupe" *ngFor="let preguntas of Cuestionario" >

  <ion-list >
    <ion-list-header>
      <ion-label style="font-size: 1.2em;">
        {{preguntas.cuerpo}}
      </ion-label>
    </ion-list-header>

    <ion-radio-group (ionChange)="resultado($event, preguntas.id)" >

      <ion-item >
        <ion-label  style="font-size: 1em;" class="ion-text-wrap"> {{preguntas.pregunta1}}</ion-label>
        <ion-radio value="pre1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label style="font-size: 1em;" class="ion-text-wrap">{{preguntas.pregunta2}}</ion-label>
        <ion-radio value="pre2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label style="font-size: 1em;" class="ion-text-wrap">{{preguntas.pregunta3}}</ion-label>
        <ion-radio value="pre3" ></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
</div>

<ion-content >
  <ion-fab vertical="top" horizontal="end" slot="fixed" style="padding-bottom: 5%;">
    <ion-fab-button color="dark" (click)="guardar()">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

</form>
</div>

