<div class= "contenedor">
  <h2>{{titulo1}}</h2>
  <p>{{contenido1}}</p>
  
  <h2>{{titulo2}}</h2>
  <p>{{contenido2}}</p>
  
  <h2>{{titulo3}}</h2>
  <p>{{contenido3}}</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="dark" (click)="iniactividad()" >
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</div>