<div class="contenedor">

  <div style="margin-top: 5%;" *ngFor="let cues of preguntas; let i = index">
    <ion-card>
    <table BORDER=3  bordercolor="250, 250, 250 ">

      <tr>
    
        <th scope="row"  WIDTH="100%">{{cues.Titulo}}</th>
    
        <th>V</th>
    
        <th>F</th>
    
      </tr>
    
      <tr>
    
        <th align="left" WIDTH="100%">{{cues.pregunta1}}</th>
    
        <td >
          <ion-checkbox slot="end" color="dark"
          value="pre1v" [(ngModel)] = "control[i].control1v" disabled="disabled"
          ></ion-checkbox>
        </td>
    
        <td><ion-checkbox slot="end" color="dark"
          value="pre1f" [(ngModel)] = "control[i].control1f" disabled="disabled"
          ></ion-checkbox></td>
    
      </tr>
    
      <tr>
    
        <th align="left" WIDTH="100%">{{cues.pregunta2}}</th>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre2v" [(ngModel)] = "control[i].control2v" disabled="disabled"
          ></ion-checkbox>
        </td>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre2f" [(ngModel)] = "control[i].control2f" disabled="disabled"
          ></ion-checkbox>
        </td>
    
      </tr>
    
      <tr>
    
        <th align="left" WIDTH="100%">{{cues.pregunta3}}</th>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre3v" [(ngModel)] = "control[i].control3v" disabled="disabled"
          ></ion-checkbox>
        </td>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre3f" [(ngModel)] = "control[i].control3f" disabled="disabled"
          ></ion-checkbox>
        </td>
    
      </tr>

      <tr>
    
        <th align="left" WIDTH="100%">{{cues.pregunta4}}</th>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre4v" [(ngModel)] = "control[i].control4v" disabled="disabled"
          ></ion-checkbox>
        </td>
    
        <td>
          <ion-checkbox slot="end" color="dark"
          value="pre4f" [(ngModel)] = "control[i].control4f" disabled="disabled"
          ></ion-checkbox>
        </td>
    
      </tr>
    
    </table>
    <ion-card-subtitle *ngIf=" calificacion(cues.id) " style="color: rgb(51, 253, 78);">{{correc}}</ion-card-subtitle>
    <ion-card-subtitle *ngIf=" !calificacion(cues.id) " style="color: rgb(182, 7, 7);">{{incorr}}</ion-card-subtitle>
  </ion-card>
  </div>
    

    <ion-fab vertical="top" horizontal="end" slot="fixed" style="padding-bottom: 5%;">
      <ion-fab-button color="dark" (click)="Nota()" >
        <ion-icon name="document-text"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</div>

