<ion-header>
  <ion-toolbar>
    <ion-title>Corrección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-correc1 *ngIf="un1"></app-correc1>
  <app-correc2 *ngIf="un2"></app-correc2>
  <app-correc3 *ngIf="un3"></app-correc3>
  <app-correc4 *ngIf="un4"></app-correc4>
</ion-content>
