<ion-header>
  <ion-toolbar>
    <ion-button slot="start" class="diseboton" color="dark" >
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-button>
    <ion-title>actividad</ion-title>
    <ion-img src = "assets/images/CVUDES.png" class="pequeña" slot = "end" alt="UDES"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-lectu1 *ngIf="un1"></app-lectu1>
  <app-lectu2 *ngIf="un2"></app-lectu2>
  <app-lectu3 *ngIf="un3"></app-lectu3>
  <app-lectu4 *ngIf="un4"></app-lectu4>

</ion-content>
