<div class="contenedor margensupe">

  <div>
    <ion-card *ngFor="let corr of correccion; let i = index" >
      <ion-card-header>
        <ion-card-title>{{corr.cuerpo}}</ion-card-title>
        
      </ion-card-header>
    
      <ion-card-content >
        <ion-img [src]="corr.pregunta1" class="imapre"></ion-img>
        <ion-img *ngIf="corr.pregunta2" [src]="corr.pregunta2" class="imapre"></ion-img>
        <ion-img *ngIf="corr.pregunta3" [src]="corr.pregunta3" class="imapre"></ion-img>
        <ion-card-subtitle *ngIf=" calificacion(corr.id) " style="color: rgb(51, 253, 78);">{{correc}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf=" !calificacion(corr.id) " style="color: rgb(182, 7, 7);">{{incorr}}</ion-card-subtitle>
        </ion-card-content>
    </ion-card>
  </div>
  <ion-content >
    <ion-fab vertical="top" horizontal="end" slot="fixed" style="padding-bottom: 5%;">
      <ion-fab-button color="dark" (click)="Nota()" >
        <ion-icon name="document-text"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  
</div>


