<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">CALIFICACION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div  class="contenedor margensupe" style="text-align: center;">
      <h2 class="textos"> Calificacion total es: {{nota}}/6</h2>
      
    </div>
    <ion-img src={{calificacion()}} class="centrar"> </ion-img>

    <ion-content >
      <ion-fab vertical="top" horizontal="end" slot="fixed" style="padding-bottom: 5%;">
        <ion-fab-button color="dark" (click)="Regresarhome()">
          <ion-icon name="home"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>

  </div>

</ion-content>
