<div class="contenedor">

  <form autocomplete="off" (ngSubmit)="Guardar(forma)" #forma="ngForm">

  <ion-item style="padding-top: 10px;">
    <p>
    El  <input type="text" class="cuadrotext" required name="pre1" ngModel>  contiene aceites que son estupendos para hidratar la piel y el 
    <input type="text" class="cuadrotext" required name="pre2" ngModel>
    </p>
  </ion-item>

  <ion-item style="padding-top: 10px;">
    <p>
      el aguacate tiene forma de <input type="text" class="cuadrotext" required name="pre3" ngModel>  una pulpa carnosa que puede ser verde o 
      <input type="text" class="cuadrotext" required name="pre4" ngModel> 
    </p>
  </ion-item>

  <ion-item style="padding-top: 10px;">
    <p>
      La palabra aguacate viene de la palabra indigena “náhuatl”, que significa   <input type="text" class="cuadrotext" style=" width: 150px" required name="pre5" ngModel>
    </p>
  </ion-item>

  <ion-item style="padding-top: 10px;">
    <p>
      El país donde se originó el aguacate sigue siendo el mayor productor de este fruto, ¿sabes cuál es?  <input type="text" class="cuadrotext" required name="pre6" ngModel>
    </p>
  </ion-item>

  <ion-item style="padding-top: 10px;">
    <p>
      En nuestro cuerpo, el aguacate por su alto contenido en grasas monoinsaturadas contribuye a mejor el funcionamiento del sistema.  <input type="text" class="cuadrotext" required name="pre7" ngModel>  
    </p>
  </ion-item>

  <ion-item style="padding-top: 10px;">
    <p>
      Además de aguacate, cebolla, cilantro, jugo de limón, que otro ingrediente lleva el guacamole  <input type="text" class="cuadrotext" required name="pre8" ngModel> 
    </p>
  </ion-item> 

  <ion-content >
    <ion-fab vertical="top" horizontal="end" slot="fixed" style="padding-bottom: 5%;">
      <ion-button color="dark" type="submit">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-fab>
  </ion-content>

  </form>


  
</div>

